* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --balloon-border-radius: 4px;
    --balloon-color: rgba(66, 66, 66, 0.98);
    --balloon-text-color: #fff;
    --balloon-font-size: 12px;
    --balloon-move: 4px;
}

button[aria-label][data-balloon-pos] {
    overflow: visible;
}

[aria-label][data-balloon-pos] {
    position: relative;
    cursor: pointer;
}

[aria-label][data-balloon-pos]:after {
    opacity: 0;
    pointer-events: none;
    transition: 0;
    text-indent: 0;
    font-family: 'Lucida Console', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: var(--balloon-font-size);
    background: var(--balloon-color);
    border-radius: 2px;
    color: var(--balloon-text-color);
    border-radius: var(--balloon-border-radius);
    content: attr(aria-label);
    padding: .5em 1em;
    padding-bottom: .3em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition-delay: 0;
}

[aria-label][data-balloon-pos]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--balloon-color);
    opacity: 0;
    pointer-events: none;
    transition: 0;
    content: "";
    position: absolute;
    z-index: 10;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition-delay: 0;
}

[aria-label][data-balloon-pos]:hover:before,
[aria-label][data-balloon-pos]:hover:after,
[aria-label][data-balloon-pos][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-visible]:after,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
    opacity: 1;
    transition: all 0.18s ease-out .18s;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out .18s;
    -moz-transition: all 0.18s ease-out .18s;
    -ms-transition: all 0.18s ease-out .18s;
    -o-transition: all 0.18s ease-out .18s;
    transition-delay: .6s;
}

[aria-label][data-balloon-pos].font-awesome:after {
    font-family: 'Lucida Console', monospace;
}

[aria-label][data-balloon-pos][data-balloon-break]:after {
    white-space: pre;
}

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
    white-space: pre-line;
    word-break: break-word;
}

[aria-label][data-balloon-pos][data-balloon-blunt]:before,
[aria-label][data-balloon-pos][data-balloon-blunt]:after {
    transition: none;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
    transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before,
[data-balloon-visible]:before {
    transform: translate(-50%, 3px);
    -webkit-transform: translate(-50%, 3px);
    -moz-transform: translate(-50%, 3px);
    -ms-transform: translate(-50%, 3px);
    -o-transform: translate(-50%, 3px);
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:before,
[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
    bottom: 80%;
    transform-origin: top;
    transform: translate(0, var(--balloon-move));
    -webkit-transform: translate(0, var(--balloon-move));
    -moz-transform: translate(0, var(--balloon-move));
    -ms-transform: translate(0, var(--balloon-move));
    -o-transform: translate(0, var(--balloon-move));
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
    margin-bottom: 7px;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
    left: 50%;
    transform: translate(-50%, var(--balloon-move));
}

rect {
    fill: none !important
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('//db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@font-face {
    font-family: 'Arial';
    src: url('./ArialBold.ttf'), url('./ArialBold.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Arial Rl';
    src: url('./ArialRegular.ttf'), url('./ArialRegular.woff');
    font-weight: 600;
}

body {
    font-family: 'Lucida Console', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding-inline-start: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

a {
    text-decoration: none;
    color: #121212;
}

input,
button {
    outline: none;
    border: none;
    background-color: inherit;
    color: black;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: "Arial Black";
    src: url("//cdn.jsdelivr.net/gh/uelkin/uelkin-frontend/arial-black.woff2") format("woff2"), url("//cdn.jsdelivr.net/gh/uelkin/uelkin-frontend/arial-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lucida Console";
    src: url("//cdn.jsdelivr.net/gh/altoidkind/lucida-console-font@1.0.0/lucida-console.woff2") format("woff2"), url("//cdn.jsdelivr.net/gh/altoidkind/lucida-console-font@1.0.0/lucida-console.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    width: 100%;
}

.header__wrapper-logo {
    width: 37.5%;
}

.wrapper-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8% 2%;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.nav-header {
    width: 37.5%;
    display: flex;
    justify-content: flex-end;
}

.header__wrapper-nav {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header-link {
    font-size: 16px;
    color: #121212;
    font-family: "Lucida Console", monospace;
    display: flex;
    align-items: center;
}

.icons {
    margin-right: 5px;
}

.header-link:hover {
    color: #007aff;
}

.header__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__avatar-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__search {
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-input,
.header__search-input1 {
    background-color: #f2f2f2;
    color: black;
    padding: 8.5px 40px;
    padding-bottom: 7px;
    padding-right: 36px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    width: 240px;
    font-size: 14px;
    font-family: 'Lucida Console', monospace;
}

.header__search-input:hover {
    border: 1px solid #007aff;
    padding: 7.5px 39px;
    padding-bottom: 6px;
    padding-right: 35px;
}

.header__search-input:focus {
    border: 1px solid #007aff;
    padding: 7.5px 39px;
    padding-right: 35px;
    padding-bottom: 6px;
}

.header__search::before {
    content: url(./search.svg);
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.header__search-input::placeholder {
    color: rgb(109, 109, 109);
    font-size: 14px;
    font-family: 'Lucida Console', monospace;
}

.header__connect-wallet {
    height: fit-content;
    margin: auto 0;
    font-size: 15px;
    color: #838383;
    font-family: "Lucida Console", monospace;
}

.header__connect-wallet:hover,
.header__connect-wallet-mobile:hover {
    color: #007aff;
}

.clear,
.clear1 {
    position: absolute;
    right: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c0c0c0' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.clear1 {
    right: 53px;
}

.none-clear {
    display: block;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    height: 40px;
    width: 122px;
    position: relative;
}

.logo-svg {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 7px;
    bottom: 6px;
}

#rec236105419 .t396__artboard {
    height: 430px;
    background-color: #212121;
    overflow: hidden;
}

#rec236105419 .t396__filter {
    height: 430px;
}

#rec236105419 .t396__carrier {
    height: 430px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-text {
    font-size: 24px;
    height: 24px;
    font-weight: 400;
    margin-left: 36px;
    margin-bottom: 12px;
    font-family: "Arial Black";
}

.icon-buy {
    font-size: 16px;
}

.section__content {
    width: 80%;
    margin: 0 auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 968px;
    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 5px;
}

.content__header-img {
    height: 110px;
    width: 110px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content__wrapper-col {
    display: flex;
    width: 60%;
}

.content-title {
    font-size: 24px;
    margin-bottom: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.content-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2% 0;
    margin-left: 4%;
    width: 100%;
}

.content-breadcrumbs {
    display: flex;
}

.content__breadcrumb-item {
    color: #000;
    opacity: .38;
    font-size: 12px;
    margin-right: 18px;
    position: relative;
}

.content__breadcrumb-item::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    right: -10px;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #979797;
}

.content__breadcrumb-item:last-child::before {
    width: 0;
    height: 0;
}

.content__breadcrumb-item:last-child {
    margin-right: 0;
}

.content-info__popular {
    display: flex;
    color: 000;
    opacity: .6;
    height: 14px;
}

.popular-number {
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center !important;
    height: 13.33px;
}

.quality-likes,
.qual-heart {
    height: 13px;
}

.content-info__popular {
    font-size: 14px;
}

.popular-number::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    right: -12px;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #979797;
}

.no-before::before {
    display: none;
}

.catalog__wrapper-favorite .popular-number {
    margin-right: 0;
}

.content__button-install {
    padding: 8.5px 16px;
    background-color: #007aff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', 'PingFang Sc', sans-serif;
    font-weight: 100;
}

.content__button-install:hover {
    background-color: #3597ff;
}

.content-body {
    width: 968px;
    margin: 0 auto;
}

.preloader {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.5s;
    opacity: 1;
}

.preloader-remove {
    opacity: 0;
    z-index: -10;
}

.preloader-3 svg {
    width: 135px;
    border-radius: 3px;
    background: #FFF;
    fill: none;
    stroke: #BFE2FF;
    stroke-linecap: round;
    stroke-width: 12%
}

.preloader-3 use {
    stroke: #337AB7;
    animation: preloader-3-a 2s linear infinite
}

@keyframes preloader-3-a {
    to {
        stroke-dashoffset: 0px
    }
}

.slider__wrapper-imgs {
    width: auto;
    margin: auto;
    cursor: pointer;
}

.slider-img {
    height: 390px;
    width: auto;
    background-size: contain;
    pointer-events: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.scrollbooster-viewport {
    cursor: -webkit-grab;
    cursor: grab;
}

.scrollbooster-viewport:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.scrollbooster-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.t396__artboard {
    height: 390px !important;
    padding: 0;
    margin: 0;
    background-color: white !important;
    overflow-x: hidden;
}

.t-rec_pb_60 {
    padding: 0 !important;
    width: 100%;
    overflow: hidden;
}

.t396__artboard::-webkit-scrollbar {
    height: 0px;
}

.t396__artboard::-webkit-scrollbar-track {
    background: rgba(226, 226, 226, 0.719);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
}

.t396__artboard::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.glide-description {
    padding: 1.5% 0;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-top: 5px;
    font-size: 14px;
    color: #000;
    opacity: .8;
}

.intelligence {
    width: 968px;
    margin: 2% auto;
}

.intelligence-card {
    display: flex;
    justify-content: space-between;
}

.intelligence-wrapper {
    display: flex;
    justify-content: space-between;
    line-height: 45px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
    font-weight: 400;
    font-size: 13px;
    cursor: default;
    padding: 0 5px;
}

.intelligence-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.055);
}

.intelligence-wrapper:active {
    background-color: rgba(0, 0, 0, 0.076);
}

.intelligence-left,
.intelligence-right {
    width: 47%;
}

.intelligence-arrow {
    width: 16px;
    height: 16px;
}

.intelligence-description {
    color: #000;
    opacity: .6;
}

.intelligence-title {
    color: #000;
    opacity: .8;
}

.section-title {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 24px;
}

.cursor:hover {
    color: #ff0000;
}

.fa-heart {
    color: #ff0000;
    height: 13px;
}

.cursor {
    cursor: pointer;
}

particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.placeholder-wave {
    -webkit-mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.8) 75%, #000 95%);
    mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.8) 75%, #000 95%);
    -webkit-mask-size: 200% 100%;
    mask-size: 200% 100%;
    -webkit-animation: placeholder-wave 2s linear infinite;
    animation: placeholder-wave 2s linear infinite;
}

@-webkit-keyframes placeholder-wave {
    100% {
        -webkit-mask-position: -200% 0%;
        mask-position: -200% 0%;
    }
}

@keyframes placeholder-wave {
    100% {
        -webkit-mask-position: -200% 0%;
        mask-position: -200% 0%;
    }
}

.dropdown-content,
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 350px;
    min-width: 240px;
    width: fit-content;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: calc(29.5px + 5px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.dropdown-content1 {
    flex-direction: column;
    left: 0%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    max-width: 300px;
}

.dropdown__header-img {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dropdown__wrapper-img {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}

.dropdown-item,
.dropdown-item1 {
    position: relative;
    font-size: 14px;
    padding: 0px 16px;
    height: 32.4px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.dropdown-item:last-child,
.dropdown-item1:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper__dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    max-width: 240px;
    margin-right: 5px;
}

.dropdown__wrapper-content {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.dropdown__person {
    width: 11px;
    height: 11px;
    margin-top: -1px;
}

.dropdown-title {
    font-size: 13px;
    opacity: .6;
    margin: 10px 16px;
}

.header-arrow {
    width: 14px;
    position: absolute;
    top: 8px !important;
    right: 10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
}

.dropdown a:hover {
    background-color: rgb(247, 247, 247);
}

.comments {
    margin: 0 auto;
    border-bottom: 1px solid rgb(226, 226, 226);
    width: 968px;
}

.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comments__main-title {
    font-size: 14px;
    color: gray;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
    margin-top: 3px;
    text-align: center;
    width: 100%;
}

.comments-title {
    font-size: 24px;
    font-weight: 400;
}

.comments__wrapper-all {
    display: flex;
    align-items: center;
}

.comments-all {
    opacity: .6;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-bottom: 1px solid #F7F7F7;
}

.comment:nth-last-child(2){
    border-bottom: 0px solid black;
}

.comment__wrapper-name {
    display: flex;
    align-items: center;
}

.comment-name {
    font-size: 16px;
    font-weight: 400;
}

.comment-likes {
    display: flex;
    align-items: center;
    position: relative;
}

.comments-body {
    display: flex;
    justify-content: center;
}

.comments-body__messasge {
    font-size: 13px;
    font-weight: 400;
    border: 10px;
    opacity: .8;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
}

.wrapper-comments {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.comment-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
}

.emoji-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    margin: 0 auto;
    align-items: center;
    padding: 8px;
    background-color: white;
    border: 1px solid #f0f0f0;
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    box-shadow: 0px 1px 5px 0px #adadad;
    display: none;
}

.top50px {
    top: -50px !important;
}

.emoji-item {
    height: 25px;
}

.btn-emoji {
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
    color: rgba(0, 0, 0, .6);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.emoji-number {
    font-family: 'Roboto', 'Arial Rl', sans-serif;
    color: rgba(0, 0, 0, .6);
}

.btn-emoji:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.btn-emoji:last-child {
    margin-right: 0;
}

.btn-emoji-icon, .btn-emoji-icon-ful{
    width: 20px;
    height: 20px;
}

.btn-emoji-conteiner {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, .6);
    background-color: rgb(255, 255, 255);
    padding: 3px 6px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid #d4d4d4;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 15px;
    flex-shrink: 0;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
}

.footer-link,
.footer-text-bottom {
    color: rgba(0, 0, 0, .6);
}

.footer-text-bottom:hover,
.footer-link:hover {
    color: #0d9ffb;
}

.footer-blue-link {
    color: rgb(0, 125, 255);
}

.footer-text-bottom {
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}

.comment__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.comment-input {
    width: 90%;
    height: 40px;
    background-color: #e4e4e4;
    padding-left: 10px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.comment-button {
    padding: 0px 30px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #007aff;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', 'PingFang Sc', sans-serif;
}

.comment-button:hover {
    background-color: #3597ff;
}

.no-comments {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}

.wrapper__left-header-link {
    display: flex;
}

.no-comments__img {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.no-comments__text {
    font-size: 16px;
    margin-bottom: 5px;
}

.no-comments__description {
    opacity: .6;
    font-size: 14px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: all;
}

.show {
    display: block !important;
}

.show1 {
    display: flex !important;
}

.show-emoji {
    display: flex;
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    opacity: -4;
    pointer-events: none;
}

.modal__wrapper-img {
    height: auto;
    z-index: 4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal__img {
    width: auto;
    height: 70vh;
    pointer-events: none;
    user-select: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.catalog {
    width: 968px;
    margin: 2% auto;
}

.catalog-title {
    font-size: 24px;
    font-weight: 400;
}

.catalog-body {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px 5px;
}

.catalog-body::-webkit-scrollbar {
    height: 6px;
}

.catalog-body::-webkit-scrollbar-track {
    background: rgba(226, 226, 226, 0.719);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
}

.catalog-body::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.catalog-scroll {
    white-space: nowrap;
    display: flex;
    gap: 30px;
}

.catalog-card__img {
    background-size: contain;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.catalog-card {
    height: auto;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.catalog-card:hover {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    margin-top: -3px;
}

.catalog-card:last-child {
    margin-right: 20px;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.catalog-card__wrapper-img {
    margin-top: 5px;
    height: 268px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.catalog-card__wrapper {
    width: 268px;
}

.catalog-content__main,
.catalog-content__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-content__main {
    font-family: 'Lucida Console', monospace;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .1;
    margin-bottom: 20px;
}

.catalog-content__description {
    margin-bottom: 8px;
    font-size: 13px;
    font-family: 'Lucida Console', monospace;
    color: rgb(112, 122, 131);
    font-weight: 400;
}

.catalog-card__content {
    margin: 0 10px;
    margin-bottom: 5px;
}

.catalog__wrapper-favorite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    padding: 15px 10px;
    background: linear-gradient(rgba(229, 232, 235, 0.392) 0%, rgb(255, 255, 255) 20%);
    padding-top: 17px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.square {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.vertical {
    width: auto;
    height: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: 12px;
}

.horizontal {
    width: 100%;
    height: 220px;
}

.hearts {
    margin-right: 10px;
    font-size: 16px;
    color: rgb(138, 147, 155);
    font-weight: 500;
}

.heart-catalog {
    color: rgb(138, 147, 155);
}

.heart-catalog:hover {
    color: rgb(235, 87, 87)
}

.qual-heart-catalog {
    font-size: 15px;
    line-height: 1.15;
    font-family: 'Lucida Console', sans-serif;
    font-weight: 500;
}

.red {
    color: rgb(235, 87, 87);
}

.catalog__price,
.catalog__group-title {
    color: rgb(53, 56, 64);
}

.search-section {
    width: 65%;
    margin: 35px auto;
    flex-grow: 1;
}

.search-item {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search-item:hover {
    box-shadow: 0px 0px 3px 0px #0153aa;
}

.search-item__img {
    height: 100%;
    margin-right: 20px;
}

.search-item__info {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-item__title {
    font-size: 16px;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
}

.search-item__type {
    font-weight: 400;
    font-family: 'Lucida Console', monospace;
    font-size: 11.8px;
    margin-bottom: 4px;
}

.search-item__desciption {
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
    font-family: 'Lucida Console', monospace;
}

.search-item__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-item__wrapper-desciption {
    opacity: .6;
}

.search-item__button {
    color: #007dff;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 5px 12px;
}

.search-title {
    margin-bottom: 20px;
    font-size: 24px;
}
.section__view-all{
    flex-grow: 1;
}
.comment__full-avatar{
    width: 38px;
    height: 38px;
    margin-right: 10px;
}
.comment__wrapper__full-name{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.comment__full-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.comments-full-body__messasge{
    line-height: 1.4;
    font-size: 15px;
    font-weight: 400;
    border: 10px;
    opacity: .8;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
}
.full-comment__emoji{
    font-size: 17px;
    padding: 5px 8px;
}
.comment-full{
    position: relative;
    padding: 17px 20px 15px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #e0e0e0;
    margin-bottom: 30px;
}
.coment-full__btn-dropdown{
    display: flex;
    height: 9px;
    align-items: center;
}
.btn-emoji-icon-full{
    width: 19px;
    height: 19px;
}
.comment-full:last-child{
    margin-bottom: 0;
}
.comment-full:hover{
    box-shadow: 0 0 4px 0 rgb(190, 190, 190);
}
.comment-time{
    font-size: 12px;
    color: #c7c7c7;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
    font-weight: 400;
}
.comment__full-name{
    margin-top: 2px;
}
.comment__wrapper__full-name .comment__full-name{
    color: #464646;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
}
.dropdown-item__icon{
    margin-right: 10px;
}
.dropdown-item__comment-btn{
    display: flex;
    align-items: center;
    font-family: 'Roboto', 'Arial Rl', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 10px 8px 15px;
    width: 100%;
}
.dropdown-item__comment-btn:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown-item__comment-btn:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-item__comment{
    border-bottom: 1px solid #F0F0F0;
    width: 150px;
    background-color: white;
}
.dropdown-item__comment-btn:hover{
    background-color: rgb(247, 247, 247);
}
li.dropdown-item__comment:last-child{
    border-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
li.dropdown-item__comment:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown__comment{
    padding: 0px 0px 0px 40px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgb(190 190 190);
    width: fit-content;
    z-index: 3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: calc(100% + 40px);
    top: -5px;
}
.wrapper-dropdown{
    position: absolute;
    right: 30px;
    top: 7px;
}
@media screen and (min-width: 1024px) {
    .wrapper-hamburger {
        display: none;
    }
    .comment-mobile {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .header__connect-wallet {
        font-size: 17px;
    }
    .header-link {
        font-size: 18px;
    }
    .header__search-input::placeholder {
        font-size: 16px;
    }
    .content__breadcrumb-item {
        font-size: 14px;
    }
    .content-title {
        font-size: 26px;
    }
    .content__button-install {
        font-size: 16px;
    }
    .popular-number,
    .popular__quality {
        font-size: 16px;
    }
    .footer-text,
    .footer-text-bottom {
        font-size: 14px;
    }
    .glide-description {
        font-size: 14.5px;
    }
}

@media screen and (max-width: 1300px) {
    .logo-svg {
        height: 28px;
        width: 24px;
    }
    .logo-text {
        font-size: 23px;
    }
    .header-link {
        font-size: 14px;
    }
    .header__connect-wallet {
        font-size: 13px;
    }
    .header__search-input::placeholder {
        font-size: 13px;
    }
}

@media screen and (max-width: 1240px) {
    .content-header {
        width: 100%;
    }
    .content-body {
        width: 100%;
    }
    .content-breadcrumbs {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1170px) {
    .header__search-input {
        width: 210px;
    }
    .catalog {
        width: 85%;
    }
    .emoji-container{
        left: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .dropdown__comment{
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(100% + 5px);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        top: auto;
    }
    .search-title{
        font-size: 20px;
    }
    .header__wrapper-dropdown--user {
        position: relative;
    }
    .header__dropdown--user {
        position: absolute;
        bottom: -200%;
        right: 0;
        width: 120px;
        height: 80px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: #adadad;
        z-index: 4;
    }
    .search-section{
        width: 75%;
    }
    .header__img-dropdown--user {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .header__button-dropdown--user {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .header__left-links {
        display: flex;
        align-items: center;
    }
    .desktop {
        display: none;
    }
    .header-arrow {
        top: 8px !important;
    }
    .clear1 {
        left: 210px;
    }
    .wrapper-hamburger {
        display: block;
    }
    .header-links,
    .nav-header,
    .header__connect-wallet {
        display: none;
    }
    .header-links-mobile {
        display: flex;
        font-family: 'Roboto', sans-serif;
        justify-content: space-between;
        padding: 0 25px;
        margin-top: 10px;
    }
    .header-link {
        margin-right: 25px;
        margin-bottom: 5px;
        width: fit-content;
        font-size: 15px;
        margin-bottom: 15px;
    }
    .hamburger-modal {
        width: 100%;
        left: 0;
        top: 60px;
        position: absolute;
        z-index: 2;
        background-color: white;
        border-bottom: rgb(241, 241, 241) 1px solid;
    }
    .header__connect-wallet-mobile {
        font-size: 15px;
        color: #838383;
        font-family: "Lucida Console", monospace;
    }
    .header__search {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .header__search-input {
        width: 240px;
    }
    .intelligence {
        width: 100%;
    }
    .intelligence-card {
        display: block;
    }
    .intelligence-left,
    .intelligence-right {
        width: 85%;
        margin: 0 auto;
    }
    .section-title {
        margin: auto;
        width: 85%;
        font-size: 22px;
    }
    .intelligence-description {
        font-size: 13px;
    }
    .intelligence-title {
        font-size: 14px;
    }
    .comments {
        width: 85%;
    }
    .btn-emoji-conteiner {
        font-size: 14px;
    }
    .comment-name {
        font-size: 14px;
    }
    .btn-emoji-icon, .btn-emoji-icon-ful {
        width: 18px;
        height: 18px;
    }
    .comment-avatar {
        width: 27px;
        height: 27px;
    }
    .comments-body__messasge {
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
    }
    .catalog-scroll {
        gap: 15px;
    }
}

@media screen and (max-width: 960px) {
    .comments-body__messasge {
        width: 450px;
    }
}

@media screen and (max-width: 900px) {
    .comments-body__messasge {
        width: 400px;
    }
}

@media screen and (max-width: 850px) {
    .comments-body__messasge {
        width: 375px;
    }
}

@media screen and (max-width: 850px) {
    .comments-body__messasge {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .comments-body__messasge {
        width: 325px;
    }
    .comment__full-avatar{
        width: 32px;
        height: 32px;
    }
    .comment__wrapper__full-name{
        font-size: 16px;
    }
    .comment__full-avatar{
        margin-right: 8px;
    }
}

@media screen and (max-width: 425px) {
    .search-title{
        font-size: 17px;
    }
    .comment__wrapper__full-name{
        font-size: 15px;
    }
    .comment__full-avatar{
        width: 28px;
        height: 28px;
    }
    .btn-emoji-icon-full{
        width: 19px;
        height: 19px;
        margin-right: 0;
    }
    .comments-full-body__messasge{
        font-size: 14.7px;
    }
    .header__search {
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 93.5%;
    }
    .dropdown-mobile {
        width: 100%;
    }
    .header__search-input {
        width: 100%;
    }
    .catalog-card__wrapper {
        width: 200px;
    }
    .catalog-card__wrapper-img {
        height: 196px;
    }
    .intelligence-left,
    .intelligence-right,
    .catalog,
    .comments {
        width: 90%;
    }
    .catalog-title,
    .comments-title {
        font-size: 17px;
    }
    .comments-all {
        font-size: 13px;
        margin-bottom: 1px;
        margin-top: 3.5px;
    }
    .btn-emoji-icon-full{
        width: 17px;
        height: 17px;
    }
    .comment-avatar {
        width: 23px;
        height: 23px;
        margin-right: 5px;
    }
    .comment-name {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        width: 60px;
    }
    .btn-emoji-icon {
        width: 16px;
        height: 16px;
    }
    .btn-emoji-conteiner {
        font-size: 13px;
    }
    .comments-body__messasge {
        width: 210px;
        font-size: 11px;
    }
    .intelligence-title {
        text-align: left;
        font-size: 17px;
        margin-left: 5%;
        margin-bottom: 5px;
    }
    .slider-img {
        height: auto !important;
        width: 90vw;
    }
    .t396__artboard {
        height: auto !important;
    }
    .section__content {
        width: 90%;
    }
    .content-title {
        font-size: 17px;
    }
    .glide-description {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .section-title {
        font-size: 17px;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 5px;
    }
    .content__breadcrumb-item {
        font-size: 10px;
    }
    .content__header-img {
        width: 75px;
        height: 75px;
    }
    .intelligence-title {
        font-size: 14px;
        margin: 0;
    }
    .emoji-container{
        left: 20%;
    }
    .btn-emoji-conteiner {
        font-size: 0px;
    }
    .btn-emoji-icon {
        margin-right: 0;
    }
    .emoji-item {
        height: 22px;
    }
    .icon-buy {
        font-size: 13px;
    }
    .content__button-install {
        font-size: 13px;
        padding: 7.5px 14px;
    }
    .content__wrapper-install {
        position: absolute;
        right: 0;
        bottom: 4px;
    }
    .content-header {
        position: relative;
        margin-bottom: 7px;
    }
    .emoji-container{
        left: -240%;
    }
    .header-link {
        font-size: 14px;
        margin-right: 15px;
    }
    .header__connect-wallet-mobile {
        font-size: 14px;
    }
    .header-links-mobile {
        padding: 0 18px;
    }
}

@media screen and (max-width: 380px) {
    .comment__full-name{
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .comments-full-body__messasge{
        font-size: 13px;
    }
    .header__dropdown--user {
        bottom: -100%;
    }
    .header__left-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .intelligence-wrapper {
        line-height: 41px;
    }
    .content-body {
        margin-top: 5px;
    }
    .content__breadcrumb-item:first-child {
        display: none;
    }
    .content__breadcrumb-item::after:first-child {
        display: none;
    }
    .icon-buy {
        font-size: 12.5px;
    }
    .content__button-install {
        font-size: 12px;
        padding: 6.5px 10px;
    }
    .comments-body__messasge {
        width: 180px;
    }
    .btn-emoji-icon {
        width: 15px;
        height: 15px;
    }
    .comments-all {
        margin-bottom: 0px;
        margin-top: 2px;
    }
    .intelligence-title {
        font-size: 13px;
    }
    .catalog-title,
    .comments-title,
    .section-title {
        font-size: 17px;
    }
    .intelligence-arrow {
        margin-bottom: 2px;
    }
    .catalog-content__main {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .catalog-content__description {
        font-size: 12px;
    }
    .qual-heart-catalog {
        height: 12px;
        font-size: 13px;
    }
    .catalog__wrapper-favorite .popular-number {
        font-size: 14px;
    }
    .catalog__wrapper-favorite {
        padding: 10px;
    }
    .footer-text-bottom,
    .footer-text {
        font-size: 11px;
    }
    .catalog-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        width: 220px;
    }
}

@media screen and (max-width: 320px) {
    .search-section{
        width: 85%;
    }
    .btn-emoji-icon-full{
        width: 17px;
        height: 17px;
    }
    .header-links-mobile {
        padding: 0 14px;
    }
    .content__breadcrumb-item {
        font-size: 9px;
    }
    .comment-avatar {
        width: 20px;
        height: 20px;
    }
    .comment-name {
        width: 54px;
        font: 12px;
    }
    .comments-body__messasge {
        width: 145px;
    }
    .btn-emoji-icon {
        width: 14px;
        height: 14px;
    }
    .intelligence-arrow {
        margin-bottom: 2px;
        width: 12px;
        height: 13px;
    }
    .comments-all {
        margin-top: 1px;
    }
    .footer-text {
        font-size: 9.5px;
    }
    .footer-text-bottom {
        font-size: 10px;
    }
    .header__search {
        margin-top: 0px;
    }
    .catalog-title {
        width: 180px;
    }
    .emoji-container{
        left: -200%;
        padding: 6px;
    }
    .emoji-item {
        height: 17px;
    }
    .top50px {
        top: -35px !important;
    }
}